# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Grunt intermediate storage
.grunt

# Bower dependency directory
bower_components

# node_modules
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Temporary files
/tmp/